.navbar {
    background-color: #add8e6;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
}

.currentpage {
    background-color: #0096FF;
}

img {
    height: 15px;
    width: 15px;
}