.navbar {
    background-color: #add8e6;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    transition: background-color 0.5s ease;
}

.navbar > a:hover {
    background-color: #0096FF;
}

.currentpage {
    background-color: #0096FF;
}

.logo {
    height: 25px;
    width: 25px;
}

h1 {
    text-align: center;
    color: #006699;
    margin: 5%;
}

p {
    text-align: center;
}

.picture {
    height: 30%;
    width: 30%;
}

h2 {
    text-align: center;
    color: #006699;
}