.navbar {
    background-color: #add8e6;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    transition: background-color 0.5s ease;
}

.navbar > a:hover {
    background-color: #0096FF;
}

.currentpage {
    background-color: #0096FF;
}

img {
    height: 25px;
    width: 25px;
}

h1 {
    text-align: center;
    color: #006699;
    margin: 5%;
}

table {
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
    color: #006699;
    text-align: center;
}

th {
    border-bottom: 1px solid #000000;
    padding: 0px;
    margin: 0px;
}

td {
    padding: 0px;
    margin: 0px;
}

.gamelink {
    color: #006699;
    text-decoration: none;
}

.gamelink:hover {
    text-decoration: underline;
}

@media screen and (min-width: 700px) {
    table {
        width: 50%;
        border: 2px solid #000000;
        margin-left: auto;
        margin-right: auto;
        color: #006699;
        text-align: center;
    }
}

table:first-child{
    font-weight: bold;
}