.navbar {
    background-color: #add8e6;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    transition: background-color 0.5s ease;
}

.navbar > a:hover {
    background-color: #0096FF;
}

.currentpage {
    background-color: #0096FF;
}

img {
    height: 25px;
    width: 25px;
}

h1 {
    text-align: center;
    color: #006699;
    margin: 5%;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

table {
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
}

.subgrid {
    border: 1px solid #000000;
    padding: 0px;
    margin: 0px;
}

td {
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width: 700px) {
    td > input {
        text-align: center;
        width: 100px;
        height: 100px;
        padding: 0px;
        margin: 0px;
    }
}

input {
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.filledcell {
    background-color: #d3d3d3;
}

@media screen and (max-width: 700px) {
    td > input {
        text-align: center;
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 0px;
    }
}