.navbar {
    background-color: #add8e6;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    transition: background-color 0.5s ease;
}

.navbar > a:hover {
    background-color: #0096FF;
}

.currentpage {
    background-color: #0096FF;
}

img {
    height: 25px;
    width: 25px;
}

h1 {
    text-align: center;
    color: #006699;
    margin: 5%;
}

h2 {
    text-align: center;
    color: #006699;
}

.list {
    color: #006699;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactlink {
    color: #006699;
    text-decoration: none;
}

.contactlink:hover {
    text-decoration: underline;
}